html {
  padding: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

button, input, label {
  display: block;
}

h2 {
  font-size: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 48px;
}

.control {
  display: flex;
  gap: 6px;
  width: 200px;
  justify-content: flex-end;
}

.control.audio {
  width: 400px;
  gap: 12px;
  align-items: center;
}

.control.part {
  gap: 12px;
  width: 200px;
}

.part label {
  font-size: 12px;
}

/*
//the CSS takes the control class then within the control is the 
//part class gives the gap in between each of the volume sliders
//in control we set the flex box for the audios
//the .part label is within the control and part class the label for the volume
//get a font size of 12
//how does the label move on top of the volume bar (its for a display flex and we say display block for the label and it takes up the
//whole width so thats what puts volume there)*/
